mixin card-list-item(title)
    li.list-group-item #[i.fas.fa-check] #[= title] 
mixin card(title, price)
    .col-md-4
        .card.text-center
            .card-header.bg-dark.text-white
                h3= title
            .card-body
                h4.card-title= price
                p.card-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit, ab?
                ul.list-group
                    +card-list-item('Feature One')
                    +card-list-item('Feature Two')
                    +card-list-item('Feature Three')
                    +card-list-item('Feature Four')
                    +card-list-item('Feature Five')
                a.btn.btn-block.mt-2(style={'background-color': '#ffcdb2'}) Get it
            .card-footer 1 Year Plan
mixin accordionCard(href, id, title)
    .card
        .card-header
            h5.mb-0
                //- button.btn.btn-link(data-toggle="collapse", data-target= href, data-parent="accordion", aria-expanded="false", aria-controls= id, type="button") #[= title]
                a(href= href, data-toggle="collapse", data-parent="#accordion") #[= title]
        div(id= id).collapse
            .card-body Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus nam esse et blanditiis, porro veritatis! Quasi molestias esse accusantium distinctio qui, quas molestiae a quidem quisquam deserunt ducimus commodi nulla eligendi vero quia, aut eos! Tenetur quos fugiat dolor praesentium?

include ./common/_title-block.pug
+titleBlock('Services')
section#services.py-5
    .container
        .row
            +card('Title one', '49.99$/Month')
            +card('Title two', '79.99$/Month')
            +card('Title three', '99.99$/Month')
section#faq.p-5.text-white(style={'background-color': '#6d6875'})
    .container
        .text-center Frequently Asked Questions
        hr
        .row
            .col-md-6
                #accordion
                    +accordionCard('#collapseOne', 'collapseOne', 'Question One')
                    +accordionCard('#collapseTwo', 'collapseTwo', 'Question Two')
                    +accordionCard('#collapseThree', 'collapseThree', 'Question Three')
                   
                                
            .col-md-6
                #accordion
                    +accordionCard('#collapseFour', 'collapseFour', 'Question Four')
                    +accordionCard('#collapseFive', 'collapseFive', 'Question Five')
                    +accordionCard('#collapseSix', 'collapseSix', 'Question Six')