footer#main-footer.text-center.p-4.bg-dark.text-white
    .container
        .row
            .col
                p Copyright &copy; #[span#year] Bastion
                     
                        