nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
    .container
        a(href='index.html', class='navbar-brand') Bastion
        button(class='navbar-toggler', data-toggle='collapse', data-target='#navbarCollapse')
            span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarCollapse
            ul.navbar-nav.ml-auto
                li.nav-item
                    a.nav-link(href="index.html", data-path="index.html") HOME
                li.nav-item
                    a.nav-link(href="about-page.html", data-path="about-page.html") About us
                li.nav-item
                    a.nav-link(href="services-page.html", data-path="services-page.html") Services
                li.nav-item
                    a.nav-link(href="blog-page.html", data-path="blog-page.html") Blog
                li.nav-item
                    a.nav-link(href="contact-page.html", data-path="contact-page.html") Contact