mixin titleBlock(title)
    header#page-header
        .container
            .dark-overlay.pt-5
                .row.no-gutters
                    .col-md-6.m-auto.text-center
                        h1= title
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, perferendis.