.modal.fade#videoModal
    .modal-dialog
        .modal-content
            .modal-body
                button.close(data-dismiss="modal")
                    span &times;
                iframe(src="#", height="350", width="100%", allowfullscreen) x