nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
    .container
        a(href='index.html', class='navbar-brand') Bastion
        button(class='navbar-toggler', data-toggle='collapse', data-target='#navbarCollapse')
            span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarCollapse
            ul.navbar-nav.ml-auto
                li.nav-item
                    a.nav-link(href="index.html", data-path="index.html") HOME
                li.nav-item
                    a.nav-link(href="about.html", data-path="about.html") About us
                li.nav-item
                    a.nav-link(href="services.html", data-path="services.html") Services
                li.nav-item
                    a.nav-link(href="blog.html", data-path="blog.html") Blog
                li.nav-item
                    a.nav-link(href="contact.html", data-path="contact.html") Contact