#page-header {
  position: relative;
  height: 200px;
  background: url("../img/image1.jpg");
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #ffffff;
  border-bottom: 1px solid #eee;
}
#about {
  .about-img {
    margin-top: -50px;
  }
}
