@import "./variables.scss";
@import "./parts/index-content";
@import "./parts/about-content";
@import "./parts/services-content";

* {
  box-sizing: border-box;
}
body {
  justify-content: center;
  background-color: $color-primary;
}
.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.navbar {
  .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    transition: 0.2s all;
  }
  .nav-item {
    &.active {
      border-left: #444 3px solid;
    }
  }
}
